*{
    margin: 0px;
    padding: 0px;
}

input {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16pt;
    background-color: rgba(255,255,255, 0.1);
    color: white;
    border: 1px solid black;
}

input#login {
    width: 440px;
    background-color: rgb(238, 7, 61);
}

input#cadastrar {
    width: 440px;
    background-color: rgb(155,255,15);
}


div#form-login {
    /*background-color: red;*/
    width: 450px;
    margin: 150px auto;
}

div#form-cad{

}

body {
    background-image: url(dowload1.jpg);
    color: white;
    font-family: Arial;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}